*.kdev4
*.vscode
*.kdev_include_paths
*.pro.user
*.retry
*~
*#
.directory
__temporary
*__pycache__*
*.pyc
*.log
*_log.txt
.sass-cache
____TEMPORARY
*.kate-swp
*.idea
*.rdb
*.lnk
*.sln
*.DS_Store
public